@import "tailwindcss";



body{
    background-image: url('./bg-main-desktop.png');
    background-repeat: no-repeat;
}

@media screen and (width <= 375px) {
    body{
        background-image: url('./bg-main-mobile.png');
    }
}