@import "tailwindcss";


body{
    background-image: url('./assets/bg-main-desktop.png');
    background-repeat: no-repeat;
    font-family: 'Space Grotesk';
}

@media screen and (width <= 375px) {
    body{
        background-image: url('./bg-main-mobile.png');
    }
}